body{
	background-image: url(dhruv.jpg);
	background-size: cover;
}
h1{
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 300px;
	transition: all 1s;

}
h1:hover{
transform: scale(1.1);
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
